
<main>
<section  class="no-parallax" [ngStyle]="{'background-image': 'url(' + '/assets/image/IUT_de_Velizy.jpg' + ')'}">
  <h1 style="position: fixed; font-size: 25px">Licence professionnelle:<br/><br/> Métiers du numérique - Conception, rédaction et réalisation Web<br/><br/> Chef de projet multimédia junior</h1>
</section>
  <section class="parallax bg" id="home">
    <h1 style="position: fixed;">Objectifs de la formation</h1>
  </section>
  <section class="no-parallax dia" >
    <div id="text1">
    <p class="texte" >
      L’objectif de la Licence METWEB est de former des assistants chefs de projets multimédia capables de répondre à une demande diversifiée des entreprises œuvrant dans la conception et la réalisation de projets liés aux médias numériques.<br/>
    </p>
    <p class="texte">
      Ces personnes « interfaces » planifient, conçoivent et suivent la réalisation des applications, produits et services informatisés, à partir de l’expression de besoins communicationnels.<br/>
    </p>
    <p class="texte" >
      La formation est plus particulièrement orientée autour de la refonte de sites internet et de produits/services de communication multimédia.<br/>
    </p>
    </div>
  </section>
  <section class="no-parallax dia" >
    <div id="text2">
    <p class="texte">
      La LP METWEB forme des chefs de projets junior d’agences ou de services de communication en prenant en compte les technologies permettant de créer, saisir, modifier, gérer et communiquer le contenu informationnel des sites web ou publications en ligne. Le site web est considéré comme un outil de travail à double-face, interne à l’organisation-entreprise et travaillant l’audience ou le marché.<br/>
    </p>
    <p class="texte">
      La formation est disponible soit en alternance , soit en formation continue pour les professionnels.
    </p>
    </div>
  </section>
  <app-texte-section></app-texte-section>
  <section class="parallax bg2">
    <h1  id="avantage" style="font-size: 0; position: fixed;">Contenu de la formation</h1>
  </section>
  <section class="no-parallax dia-large" >
    <div id="text3">
      <div id="col">
        <p>
          UE0 – Adaptation et harmonisation / 99 h<br/>
          Communication pratique<br/>
          Théorie de la communication<br/>
          Anglais<br/>
          Intégration Web  – Bases de données<br/>
          Réseaux<br/>
        </p>
        <p>
          UE1 – Culture technique / 28 h<br/>
          Ergonomie/ Interface utilisateur (UX/UI)<br/>
          Infographie<br/>
        </p>
        <p>
          UE2 – Culture et communication / 43 h<br/>
          Conception Web<br/>
          Design Web<br/>
          Graphisme<br/>
        </p>
        <p>
          UE3 – Module professionnel / 56 h<br/>
          Référencement (SEO)<br/>
          Conception/Gestion de contenus<br/>
          Animation de communautés<br/>
          Stratégies éditoriales<br/>
        </p>
          UE4 – Projet tuteuré en agence / 40 h
        <p>
          UE5 – Culture socio-économique / 39 h<br/>
          Économie et marketing<br/>
          Art et esthétique<br/>
          Droit appliqué aux TICE<br/>
        </p>
        <p>
          UE6 – Culture technique / 46 h<br/>
          Installation de service<br/>
          écriture audio<br/>
        </p>
        <p>
          UE7 – Culture et communication / 29 h<br/>
          Méthodologie de projets<br/>
          Stratégie des réseaux sociaux<br/>
        </p>
        <p>
          UE8 – Module professionnel / 110 h<br/>
          Bases de données<br/>
          Documents numériques<br/>
        </p>
        <p>
          UE9 – Projet tuteuré en agence / 92 h
        </p>
        <p>
          UE10 – Mémoire entreprise et soutenance
        </p>
      </div>
    </div>
  </section>
  <section class="parallax bg2">
    <h1  id="avantage" style="font-size: 0; position: fixed;">Contenu de la formation</h1>
  </section>

</main>
