main {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 2px;
}
section {
  transform-style: preserve-3d;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.textesection {
  overflow: hidden;
  position: sticky;
  top: 0;
  background-color: red;
}


section h1 {
  text-align: center;
  font-size: 4rem;
  font-family: sans-serif;
}

.parallax h1 {
  width: 60%;
  font-size: 2rem;
}

.parallax::after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateZ(-0.5px) scale(1.5);
  background-size: 100%;
  z-index: -1;
}

.bg::after {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assets/image/pexels-buro-millennial-1438081.jpg");
  background-size: cover;
}

.bg2::after {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assets/image/pexels-pixabay-220326.jpg");
  background-size: cover;
}

.bg3::after {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assets/image/pexels-michael-burrows-7147720.jpg");
  background-size: cover;
}


.no-parallax {
  background-color: #111;
  z-index: 999;
}
.dia{
  height: 40%;
}
.dia-large{
  height: 60%;
}

@media screen and (min-width: 768px) {
  section h1 {
    font-size: 8rem;
  }
  .parallax h1 {
    font-size: 4rem;
  }
  .texte  {
    display: block;
    font-size: 20px;
    margin: 30px 300px 30px 300px;
    -webkit-transition: font-size 0.5s ease;
    -moz-transition: font-size 0.5s ease;
    -o-transition: font-size 0.5s ease;
    transition: font-size 0.5s ease;
  }
  #text2{
    display: block;
  }
  #text1{
    display: block;
  }
  .texte:hover{
    font-size: 21px;
  }
}
@media screen and (max-width: 768px) {
  .texte {
    display: contents;
    font-size: 15px;
    margin: 30px;
    -webkit-transition: font-size 0.5s ease;
    -moz-transition: font-size 0.5s ease;
    -o-transition: font-size 0.5s ease;
    transition: font-size 0.5s ease;
  }
  #text1{
    font-size: 15px;
    margin: 30px;
  }
  #text2{
    font-size: 15px;
    margin: 30px;
  }
  #text3{
    margin: 12px;
  }
}

#text1{
  opacity: 0;
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}
#text2{
  opacity: 0;
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}
#text3{
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}
#avantage{
  opacity: 0;
  -webkit-transition: opacity 0.5s ease,font-size 0.5s ease ;
  -moz-transition: opacity 0.5s ease,font-size 0.5s ease ;
  -o-transition: opacity 0.5s ease,font-size 0.5s ease ;
  transition: opacity 0.5s ease,font-size 0.5s ease ;
}
#contenu{
  opacity: 0;
  -webkit-transition: opacity 0.5s ease,font-size 0.5s ease ;
  -moz-transition: opacity 0.5s ease,font-size 0.5s ease ;
  -o-transition: opacity 0.5s ease,font-size 0.5s ease ;
  transition: opacity 0.5s ease,font-size 0.5s ease ;
}
#text-specificite{
  opacity: 0;
  -webkit-transition: opacity 0.5s ease,font-size 0.5s ease ;
  -moz-transition: opacity 0.5s ease,font-size 0.5s ease ;
  -o-transition: opacity 0.5s ease,font-size 0.5s ease ;
  transition: opacity 0.5s ease,font-size 0.5s ease ;
}

#col {
  column-count: 2;

}

.downblue{
  background: linear-gradient(#111, #112);
}
.topblue{
  background: linear-gradient(#112, #111);
}
