
[class="list-group"]{
    padding-top: 50px;
}
[class="nav-link"]{
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
}
[class="col-xl-8"]{
    padding-top: 100px;
}
